<%= form_with model: @item, url: admin_item_path do |f| %>
<div class="container">
  <table class="table">
    <tr>
      <td>
        商品画像
      </td>
      <td>
        <%= f.file_field :image, class: "form-control-file user_image", placeholder: "商品画像", accept: "image/*" %>
      </td>
    </tr>
    <tr>
      <td>
        商品名
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td>
        商品説明
      </td>
      <td>
        <%= f.text_area :introduction %>
      </td>
    </tr>
    <tr>
      <td>
        ジャンル
      </td>
      <td>
        <%= f.collection_select(:genre_id, @genres, :id, :name) %> <!-- 第1引数：代入するカラム, 第2引数：参照元DBの指定, 第3引数：代入する値, 第4引数：表示させる文言 -->
      </td>
    </tr>
    <tr>
      <td>
        税抜価格
      </td>
      <td>
        <%= f.text_field :price %> 円
      </td>
    </tr>
    <tr>
      <td>
        販売ステータス
      </td>
      <td>
        <%= f.radio_button :is_active, :true %> 販売中
        <%= f.radio_button :is_active, :false %> 販売停止中
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </td>
    </tr>
  </table>
</div>
<% end %>